node_modules
.pnpm-store
dist
.DS_Store

apps/*/node_modules
apps/*/.vitepress/cache
apps/*/.vitepress/dist
apps/*/.vitepress/.temp
apps/*/docs/.vitepress/cache
apps/*/docs/.vitepress/dist
apps/*/docs/.vitepress/.temp

apps/protocol