VITE_DOCS_BRAND_NAME=Dreisam

VITE_DOCS_HERO_TEXT_ZH=Dreisam 标准SDK开发文档
VITE_DOCS_HERO_TAGLINE_ZH=具备完整的设备连接能力、设备管理功能、数据采集功能、数据处理功能、数据可视化功能
VITE_DOCS_SITE_DESCRIPTION_ZH=Dreisam 标准SDK开发文档

VITE_DOCS_HERO_TEXT_EN=Standard SDK Development Documentation for Dreisam
VITE_DOCS_HERO_TAGLINE_EN= Device Connection, Device Management, Data Collection, Data Processing, Data Visualization
VITE_DOCS_SITE_DESCRIPTION_EN=Dreisam Standard SDK Development Documentation

VITE_DOCS_PWA_DESCRIPTION=Dreisam is a modern admin dashboard template based on Vue 3.
